* {
  margin: 0;
  box-sizing: border-box;
  font-family: "TT Firs Neue", sans-serif;
}

@import "tailwindcss";

:root {
  --color-primary: #000;
  --senkino-color: #9ca8af;
  --balashiha-color: #4f98a3;
  --kuvekino-color: #bdb7aa;
  --sokolovo-color: #A65B61;
  --tokarevo-color: #8A7F8E;
  --butovo-color: #949E8C;

  --parametr-ease: cubic-bezier(0.16, 1, 0.3, 1);
}

body {
  width: 100%;
  height: fit-content;
}

#scale-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

#scale-container {
  width: 1440px; /* design width */
  transform-origin: top left;
  margin: 0 auto; /* center when scale = 1 */
}

#scale-content {
  width: 100%;
}

.flex-height {
  height: 65vh;
}

@media (max-width: 768px) {
  .flex-height {
    aspect-ratio: 16 / 9;
  }
}

.title {
  font-size: 57px;
  line-height: 55px;
  letter-spacing: -0.01em;
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: 500;
}
.number {
  font-size: 70px;
  line-height: 70px;
  letter-spacing: 0.02em;
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: 500;
}
.number_text {
  text-align: end;
  font-size: 13px;
  line-height: 14px;
  color: var(--color-primary);
  letter-spacing: 0.06em;
}
.text {
  font-size: 28px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: var(--color-primary);
  font-weight: 400;
}
.row_text {
  font-size: 13px;
  line-height: 17px;
  color: var(--color-primary);
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
.feature {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  &:is(.first) {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 40%,
        rgba(0, 0, 0, 1) 100%
      ),
      url("/card/Card_04.jpg");
  }
  &:is(.second) {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 40%,
        rgba(0, 0, 0, 1) 100%
      ),
      url("/card/Card_01.jpg");
  }
  &:is(.third) {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 40%,
        rgba(0, 0, 0, 1) 100%
      ),
      url("/card/Card_03.png");
  }
  &:is(.fourth) {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 40%,
        rgba(0, 0, 0, 1) 100%
      ),
      url("/card/Card_02.png");
  }
  &:is(.fifth) {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 40%,
        rgba(0, 0, 0, 1) 100%
      ),
      url("/card/Card_05.jpg");
  }
  &:is(.sixth) {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 40%,
        rgba(0, 0, 0, 1) 100%
      ),
      url("/card/Card_06.jpg");
  }
}
.project {
  display: flex;
  flex-direction: column;
  justify-content: end;
  overflow: hidden;
  cursor: pointer;
  .text {
    @apply text-white;
  }
  &:is(.kuvekino) {
    background-color: var(--kuvekino-color);
    background-image: url("/card/kuvekino.jpg");
    background-size: cover;
    background-position: center;
    .project_color {
      background-color: var(--kuvekino-color);
    }
  }
  &:is(.senkino) {
    background-color: var(--senkino-color);
    background-image: url("/card/senkino.jpg");
    background-size: cover;
    background-position: center;
    .project_color {
      background-color: var(--senkino-color);
    }
  }
  &:is(.balashiha) {
    background-color: var(--balashiha-color);
    background-image: url("/card/balashiha.jpg");
    background-size: cover;
    background-position: center;
    .project_color {
      background-color: var(--balashiha-color);
    }
  }
  &:is(.sokolovo) {
    background-color: var(--sokolovo-color);
    background-image: url("/card/sokolovo.jpg");
    background-size: cover;
    background-position: center;
    .project_color {
      background-color: var(--sokolovo-color);
    }
  }
  &:is(.tokarevo) {
    background-color: var(--tokarevo-color);
    background-image: url("/card/tokarevo.jpg");
    background-size: cover;
    background-position: center;
    .project_color {
      background-color: var(--tokarevo-color);
    }
  }
  &:is(.butovo) {
    background-color: var(--butovo-color);
    background-image: url("/card/butovo.jpg");
    background-size: cover;
    background-position: center;
    .project_color {
      background-color: var(--butovo-color);
    }
  }
}

.bold {
  font-weight: 600;
}

.main-slider {
  background-image: url("/MainSliderBG.svg");
  @media screen and (max-width: 768px) {
    background-image: url("/MainSliderMobileBG.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 40px;
  gap: 15px;
  border-radius: 1000px;
  padding: 0 20px;
  white-space: nowrap;
  text-transform: uppercase;
  &:is(.primary) {
    background-color: var(--color-primary);
    color: #fff;
  }
  &:is(.secondary) {
    border: 1px solid var(--color-primary);
    background-color: transparent;
    color: var(--color-primary);
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 26px;
    line-height: 30px;
  }
  .number {
    font-size: 42px;
    line-height: 42px;
  }
  .text {
    font-size: 19px;
    line-height: 20px;
  }
  .number_text {
    font-size: 14px;
    line-height: 15px;
    text-align: start;
  }
}

.text_right{
  text-align: right;
}